

@font-face {
    font-family: 'Batangas';
    font-style: normal;
    font-weight: normal;
    src: local('Batangas'), url('Batangas\ Bold\ 700.otf') format('opentype');
}

html{
    scroll-behavior: smooth;
    
}

section {
    scroll-margin-top: 150px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #000;
    color: #fff;
    font-size: 16px;
    font-family: 'Batangas', serif;
}

nav{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
}

.container{
    max-width: 1200px;
    margin: auto;
}
.page-box-container .langanim{
    display: flex;
    
    padding: 0;
    text-align: center;
    flex-direction: column;
}
.page-box-title{
    padding: 18px 0;
    width: 100%;
    background: #14111d;
}
.page-alt{
    padding: 18px;
    color: #f8b0e1;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.slider {
    
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: 50px auto;
    overflow: hidden;
    position: relative;
    width: 1200px;
}



.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.slider .slide {
    height: 100px;
    width: 250px;
}
.lang-theme-op{
    display: flex;
    background: url(img/darkmode.gif);
    background-position: 100% 5%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0;
    align-items: center;
    border: 2px solid #ffffff50;
    justify-content: end;
}


.logo-section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-page{
    font-size: 32px;
    padding: 18px 0;
    margin-top: 50px;
}
.header-page span{
    color: #d6249f;
}
.header-alt{
    color: #f5f5f5;
    font-size: 18px;
}
.full-e{
    display: flex;
    align-items: center;
    justify-content: center;
 
    width: 75%;
}
.solonely{
    width: 150px;
    display: flex;
    gap: 10px;
}
.page-box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;
    margin: 50px 0;
}
.page-box{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: rgba(56, 21, 73, 0.473);
    border: 2px solid #ffffff21;
    padding:25px 15px;
    font-size: 18px;
    transition: .4s ease all;
    z-index: 999;
    box-shadow: 0 0 15px #0072B150;
    border-radius: 4px;
    width: 24%;
}
.page-box-title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
   
}
.page-box:hover{
    transform: scale(1.05);
    background: rgb(56, 21, 73);
}
.page-alt{
    color: #e6e6e6;
}
.logo-section img{
    width: 300px;
    margin-top: 100px;
    object-fit: cover;
}


.lang-container{
    position: relative;
    backdrop-filter: blur(5px);
    background: #ffffff50;
    border-radius: 5px;
    transition: .2s ease all;
}
.lang-container:hover{
    border-radius:20px 20px 0 0 ;
}
.lang-dropdown a{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    color: #fff;
    text-decoration: none;
    padding:10px;
}
.lang-button{
    padding: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.lang-dropdown {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: 0px;
    width: 100%;
    background: #574F6D;
    border-radius: 0 0 5px 5px;
    transform: scale(0);
    opacity: 0;
    transition:.2s ease opacity;
  
    transform-origin: top right;
}
.lang-container:hover .lang-dropdown {
    transform: scale(1);
    opacity: 1;
}
.lang-dropdown a:hover{
    background: #6a6085;
}
.lang-button::before{
    content: "";
    position: absolute;
    top: -50px;
    left: -100%;
    background: #fff;
    width: 50%;
    transform: rotate(-200deg);
    height: 300%;
    transition: .5s ease all;
}
.lang-button:hover.lang-button::before{
    left: 120%;
    
}
.langanim {
    
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.langanim::before{
    content: "";
    position: absolute;
    top: -50px;
    left: -100%;
background: linear-gradient(to right, #ffffff00, #fff, #ffffff00);
    width: 50%;
    transform: rotate(-180deg);
    height: 500%;
    transition: .5s ease all;
}
.langanim:hover.langanim::before{
    left: 120%;
    
}
hr{
    
    border-color: #ffffff20;
}
.theme-container{

    padding: 10px;
    transition: .5s ease all;
}
.theme-container a{
        display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 30px;
    height: 30px;
    color: #fff;
   
    transition: 1s ease all;
}
.theme-container:hover{
    transform: rotate(180deg);
    
}
.lang-button{
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
}

.skills-bar-about {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
    width: 100%;
    border-radius: 5px;
    font-size: 32px;

}
.b-creator-sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;
}
.creator-title{
    background: #1F052B;
    color: #d6249f;
    padding: 18px 0;
 
    font-size: 22px;
}
.box-creator{
    width: 30%;
    border: 2px solid #ffffff30;
}
.creator-list{
    font-size: 18px;
    padding: 18px 0;
    background: #0d0213;
        color: #f8b0e1;
}
.social-links {
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    
    border-radius: 5px;
    transition: .3s ease all;

}
.text-content-home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main-section-column{
    display: flex;
    align-items: center;
        justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.main{
    border-radius: 5px;
    
}
.social-links i {
    margin: auto;
}
.page-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-flex a{
    padding: 10px;
    color: #fff;
    text-decoration: none;
    transition: .3s ease all;
    font-size: 18px;
}
.main-text{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   
    font-size: 48px;
}
.creator-sec{
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 100vh;
    border: none;
}
.creator{
background: url(https://images.unsplash.com/photo-1459749411175-04bf5292ceea?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    object-fit: contain;
    background-repeat: no-repeat;
}
.chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;

    }

    33% {
        opacity: 1;
        transform: translateY(30px);
    }

    67% {
        opacity: 1;
        transform: translateY(40px);
    }

    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

.btn-bottom{
    margin: auto;
    position: absolute;
    top: 80%;
    left: 49.6%;
    text-decoration: none;
}

.text {
    display: block;
    margin-top: 75px;
    margin-left: -30px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
    to {
        opacity: 1;
    }
}
.road-map{
    margin: 80px 0;
}
.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 3px;
   
    padding-top: 50px;
    border-radius: 50px;
    background: rgb(56, 21, 73);
    font-size: 18px;
    color: #e6e6e6;
}


.timeline ul li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
    z-index: 1;
}

.timeline ul li div {
    position: relative;
    bottom: 0;
    width: 500px;
    padding: 15px;
    border-radius: 4px;
   
    background: linear-gradient(10deg, #20062C 65%, #20062C 65%);
    border: 2px solid #ffffff20;
}

.timeline ul li div::before {
    content: "";
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ul li div {
    left: 45px;
}

.timeline ul li div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #20062C transparent transparent;
}




time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}


.date {
    position: relative;
    top: -50px;
    text-align: center;
    padding: 20px;
    color: #ffffff50;
    font-weight: 600;
    font-size: 32px;
}

.dates {
    position: relative;
    top: -20px;
    text-align: center;
    padding: 20px;
    color: #ffffff50;
    font-weight: 600;
    font-size: 32px;
}

.timeline ul li::after {
    transition: 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
    background: rgb(56, 21, 73);
    border: 3px solid #20062C;
}

.timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}

.timeline-clippy ul li::after {
    width: 40px;
    height: 40px;
    border-radius: 0;
}

.timeline-rhombus ul li::after {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div::before {
    bottom: 12px;
}

.timeline-star ul li::after {
    clip-path: polygon(50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%);
}

.timeline-heptagon ul li::after {
    clip-path: polygon(50% 0%,
            90% 20%,
            100% 60%,
            75% 100%,
            25% 100%,
            0% 60%,
            10% 20%);
}



time i {
    position: absolute;
    bottom: 95%;
    right: 0;
    padding: 12px;
    width: 50px;
    text-align: center;
    border-radius: 50% 50% 0 0;
    background: rgb(42, 17, 54);
    font-size: 24px;
    color: #bcef7e;
    z-index: -1;
}




.fa-hourglass-half {
    font-size: 18px;
    color: #feaf4f;
}

.timeline-infinite ul li::after {
    animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
    0% {
        transform: translateX(-50%) scale(1);
    }

    50% {
        transform: translateX(-50%) scale(1.25);
    }

    100% {
        transform: translateX(-50%) scale(1);
    }
}

.roadmap-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px;
}
.main-text h1 span{
    color: #d6249f;
    font-size: 28px;
}
.page-flex .logo-section-nav, 
.page-flex .nav-button,
.page-flex .lang-theme{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.3%;
}
.page-flex .logo-section-nav{
    display: flex;
    align-items: center;
    justify-content: start;
}
.page-flex a:hover{
    color: #ff9bdf;
    transform: scale(1.1);
}
.logo-section-nav img{
    width: 120px;
}
.lang-theme{
    display: flex;
    align-items: center;
    
}
.social-links:hover{
    transform: scale(1.1);
}
.social-links:nth-child(2):hover {
    background: #0072B1;
}
.social-media-container{
    margin-top: 50px;
    padding: 10px;
    background: linear-gradient(to top, #9362af5e, #000000);
    border-bottom: 2px solid #ffffff50;
}
.social-links:nth-child(3) {
    position: relative;
    border-radius: 5px;
    overflow: hidden;

}

.social-links:nth-child(3):hover {
    background: transparent;
}

.social-links:nth-child(3)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: -1;
    transition: .3s ease all;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.social-links:nth-child(3):hover::before {
    opacity: 1;
}

.social-links:nth-child(4):hover {
    background: #b91d1d;
}

.social-links:nth-child(5):hover,
.social-links:nth-child(1):hover {
    background: #3167D3;
    color: #fff;
}
.button-container{
    position: relative;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 50px;
    padding: 15px;
}
.button-container a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    transition: .3s ease all;
    background: #0072B150;
    font-size: 18px;
    border-radius: 5px;
    padding: 15px;
    margin: 20px 0;
    text-align: center !important;
    width: 150px;
}
.button-container a:hover{
    transform: scale(1.05);
}
.button-containser{
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin-top: 30px;
    font-weight: 800;
    font-size: 36px;
}
.text-container span{
    color: #d6249f;
}
.button-container a i{
    position: absolute;
    opacity: 0;
    right: 50%;
    transition: .3s ease all;
}

.button-container:hover.button-container a i{
    opacity: 1;
    right: 20px;
}
#light {
    position: absolute;
    width: 500px;
    height: 500px;
    box-shadow: inset 0 0 150px 150px #000;
    background: #fff;
    z-index: 10;
}

.light-off {
    box-shadow: inset 0 0 150px 250px #000 !important;
}


h3 {
    font-size: 32px;
    font-weight: 100;
    color: #fff;
    display: inline-block;
    text-align: left;
    margin: 30px 0;
}

.container-sad {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    font-size: 16px;
    color: #FFFFFF;
    background: rgba(56, 21, 73, 0.473);
    border: 2px solid #ffffff20;
    margin: 50px 0;
    text-align: left;
    padding: 20px;
}

.bar {
    height: 0.3em;
    width: 30em;
    border-radius: 10px;
    background: transparent;
    box-shadow: inset 0px 0px 8px #323232;
    overflow: hidden;
    padding: 5px;
}
.kal{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.progress {
    height: inherit;
    border-radius: inherit;
    width: 0;
    background: #d6249f;
    animation: load 3s linear infinite;
    animation-delay: 2s;
}

@keyframes load {
    0% {
        width: 0%;
    }

    50% {
        width: 100%;
    }

    100% {
        width: 0%;
        float: right;
    }
}
.textasd{
    width: 100%;
    height: 500px;
    background: red;
    z-index: 9999;
}
.kal{
    width: 100%;
}
.kal iframe{
    width: 100% !important;
    height: 500px;
    margin: 15px 0;
    border-radius: 5px;
    border: 2px solid #ffffff50;
}
#alt-div {
    background: #1a1a1a;
    /* Dark grey background */
    color: #fff;
    /* White text color */
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    text-align: center;
    /* Center align text */
}

@media only screen and (max-width: 600px) {
   .logo-section{
    width: 100%;
   }
   .logo-section img{
    width: 150px;
   }
   .button-containser{
    flex-direction: column;
   }
   .button-container,
   .button-container a{
    width: 100%;
   }
   .text-container{
    font-size: 24px;
   }
   .social-links{
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 22px;
   }
   .timeline ul li div {
       
       max-width: 300px;
       
   }
   .title-font{
    font-size: 18px;
   }
   .page-flex{
    flex-direction: column;
   }
   .bar {
       height: 0.3em;
       width: 100%;
       border-radius: 10px;
       background: transparent;
       box-shadow: inset 0px 0px 8px #323232;
       overflow: hidden;
       padding: 5px;
   }
}

@media only screen and (max-width: 1200px) {
   .slider{
    width: 100%;
   }
    .lang-theme-op{
        padding: 0;
        margin: 0;
        border: none;
        border-radius: 0;
    }
    .page-box{
        width: 100%;
    }
    .page-box:hover{
        transform: scale(1);
    }
    
}
@media only screen and (max-width: 500px) {
.timeline ul li div {

        max-width: 200px;

    }
    
}