@font-face {
    font-family: 'Batangas';
    font-style: normal;
    font-weight: normal;
    src: local('Batangas'), url('Batangas\ Bold\ 700.otf') format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;

}

html {
    scroll-behavior: smooth;
    transition: .3s ease all;
}

section {
    scroll-margin-top: 150px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: #fff;
    font-size: 16px;
    font-family: 'Batangas', serif;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    
}

.container {
    max-width: 1200px;
    margin: auto;
}

.page-box-container .langanim {
    display: flex;

    padding: 0;
    text-align: center;
    flex-direction: column;
}

.page-box-title {
    padding: 18px 0;
    width: 100%;
    background: #260038;
    color: #d6249f;
}

.page-alt {
    padding: 16px !important;
    background: #fcf6ff;
    color: #d6249f !important;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.slider {

    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);

    margin: 0px auto;
    height: auto;
    margin-bottom: 80px;
    overflow: hidden;
    position: relative;
    width: 1200px;
}



.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {

    display: flex;
    align-items: center !important;

}

.slider .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin: 5px;
    border: 1px solid #00000021;
    background: #f9f0fa;
}

.lang-theme-op {
    display: flex;
    background: url(img/lightmode.gif);
    background-position: 100% 5%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    box-shadow: 0 0 15px #00000050;
    margin: 20px 0;
    align-items: center;
    border: 2px solid #00000030;
    justify-content: end;
}


.logo-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-page {
    font-size: 32px;
    padding: 18px 0;
    margin-top: 50px;
    color: #000;
}

.header-page span {
    color: #d6249f;
}

.header-alt {
    color: #353535;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

.full-e {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 75%;
}

.solonely {
    width: 150px;
    display: flex;
    gap: 10px;
}

.page-box-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;
    margin: 50px 0;
}

.page-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: rgba(240, 231, 245, 0.473);
    border: 2px solid #00000021;
    padding: 25px 15px;
    font-size: 18px;
    transition: .4s ease all;
    z-index: 999;
    box-shadow: 0 0 15px #0072B150;

    width: 24%;

}

.page-box-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    background: rgba(240, 231, 245, 0.473);
}

.w33 .page-box {
    width: 30% !important;
}

.page-box:hover {
    transform: scale(1.05);
    background: rgb(56, 21, 73);
}

.page-alt {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e6e6e6;
    height: 180px;
    font-family: "Montserrat", sans-serif;
}

.logo-section img {
    width: 300px;
    margin-top: 100px;
    object-fit: cover;
}


.lang-container {
    display: flex;
    align-items: center;
    position: relative;
    backdrop-filter: blur(5px);
    background: #00000020;

    transition: .2s ease all;
}

.lang-dropdown a {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    color: #000;
    text-decoration: none;
    padding: 10px;
}

.lang-button {
    padding: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.lang-theme {
    display: flex;
    justify-content: end !important;
    margin-right: 10px;
}

.lang-dropdown {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: 0px;
    width: 100%;
    background: #DEDDDE;

    transform: scale(0);
    opacity: 0;
    transition: .2s ease opacity;

    transform-origin: top right;
}

.lang-container:hover .lang-dropdown {
    transform: scale(1);
    opacity: 1;
}

.lang-button::before {
    content: "";
    position: absolute;
    top: -50px;
    left: -100%;
    background: #fff;
    width: 50%;
    transform: rotate(-200deg);
    height: 300%;
    transition: .5s ease all;
}

.lang-button:hover.lang-button::before {
    left: 120%;

}

.langanim {

    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.langanim::before {
    content: "";
    position: absolute;
    top: -50px;
    left: -100%;
    background: linear-gradient(to left, #ffffff00, #fff, #ffffff00);
    width: 50%;
    transform: rotate(-180deg);
    height: 500%;
    transition: .5s ease all;
}

.langanim:hover.langanim::before {
    left: 120%;

}

hr {

    border-color: #ffffff20;
}

.theme-container {

    padding: 10px;
    transition: .5s ease all;
}

.theme-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 30px;
    height: 30px;
    color: #000;
    cursor: pointer;
    transition: 1s ease all;
}



.lang-button {
    display: flex;
    align-items: center;
    gap: 5px;

}

.skills-bar-about {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
    width: 100%;

    font-size: 32px;

}

.b-creator-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;
}

.creator-title {
    background: #F4EEF7;
    color: #d6249f;
    padding: 18px 0;

    font-size: 22px;
}

.box-creator {
    width: 30%;
    border: 2px solid #ffffff30;
}

.b-creator-web .box-creator {
    width: 23%;
    border: 2px solid #ffffff30;
}

.b-creator-web .creator-list {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding: 18px 0;
    height: 100px;
    background: #f5f5f5;
        color: #d6249f;
    font-family: "Montserrat", sans-serif;
}

.creator-list {
    font-size: 18px;
    padding: 18px 0;
    background: #f5f5f5;
    color: #d6249f;
    font-family: "Montserrat", sans-serif;
}

section .container img {
    width: 100%;
}

.py-8 {
    padding: 5px !important;
}

.social-links {
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 22px;

    transition: .3s ease all;

}

.text-content-home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-section-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.main {}

.social-links i {
    margin: auto;
}

.page-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-flex a {
    padding: 10px;
    color: #fff;
    text-decoration: none;
    transition: .3s ease all;
    font-size: 18px;
}

.main-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-size: 48px;
}

.creator-sec {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    border: none;
}

.creator {
    background: url(img/magnectintro.mp4);
    background-position: center;
    object-fit: contain;
    background-repeat: no-repeat;
}

.chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

#myVideo {
    object-fit: cover;
    object-position: center center;
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;

    }

    33% {
        opacity: 1;
        transform: translateY(30px);
    }

    67% {
        opacity: 1;
        transform: translateY(40px);
    }

    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

.btn-bottom {
    margin: auto;
    position: absolute;
    top: 80%;
    left: 49.6%;
    text-decoration: none;
}

.text {
    display: block;
    margin-top: 75px;
    margin-left: -30px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
    to {
        opacity: 1;
    }
}

.road-map {
    margin: 80px 0;
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 3px;

    padding-top: 50px;

    background: rgb(56, 21, 73);
    font-size: 18px;
    color: #e6e6e6;
}


.timeline ul li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;

    background: inherit;
    z-index: 1;
}

.timeline ul li div {
    position: relative;
    bottom: 0;
    width: 500px;
    padding: 15px;


    background: linear-gradient(10deg, #20062C 65%, #20062C 65%);
    border: 2px solid #ffffff20;
}

.timeline ul li div::before {
    content: "";
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ul li div {
    left: 45px;
}

.timeline ul li div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #20062C transparent transparent;
}




time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}


.date {
    position: relative;
    top: -50px;
    text-align: center;
    padding: 20px;
    color: #ffffff50;
    font-weight: 600;
    font-size: 32px;
}

.dates {
    position: relative;
    top: -20px;
    text-align: center;
    padding: 20px;
    color: #ffffff50;
    font-weight: 600;
    font-size: 32px;
}

.timeline ul li::after {
    transition: 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
    background: rgb(56, 21, 73);
    border: 3px solid #20062C;
}

.timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}

.timeline-clippy ul li::after {
    width: 40px;
    height: 40px;

}

.timeline-rhombus ul li::after {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div::before {
    bottom: 12px;
}

.timeline-star ul li::after {
    clip-path: polygon(50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%);
}

.timeline-heptagon ul li::after {
    clip-path: polygon(50% 0%,
            90% 20%,
            100% 60%,
            75% 100%,
            25% 100%,
            0% 60%,
            10% 20%);
}



time i {
    position: absolute;
    bottom: 95%;
    right: 0;
    padding: 12px;
    width: 50px;
    text-align: center;

    background: rgb(42, 17, 54);
    font-size: 24px;
    color: #bcef7e;
    z-index: -1;
}




.fa-hourglass-half {
    font-size: 18px;
    color: #feaf4f;
}

.timeline-infinite ul li::after {
    animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
    0% {
        transform: translateX(-50%) scale(1);
    }

    50% {
        transform: translateX(-50%) scale(1.25);
    }

    100% {
        transform: translateX(-50%) scale(1);
    }
}

.roadmap-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px;
}

.main-text h1 span {
    color: #d6249f;
    font-size: 28px;
}

.page-flex .logo-section-nav,
.page-flex .nav-button,
.page-flex .lang-theme {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.3%;
}
.nav-button a{
    color: #000;
}
.page-flex .logo-section-nav {
    display: flex;
    align-items: center;
    justify-content: start;
}

.page-flex a:hover {
    color: #ff9bdf;
    transform: scale(1.1);
}

.logo-section-nav img {
    width: 120px;
}

.lang-theme {
    display: flex;
    align-items: center;

}
.lang-theme a{
    color: #000;
}
.social-links:hover {
    transform: scale(1.1);
}

.social-links:nth-child(2):hover {
    background: #0072B1;
}

.social-media-container {
    margin-top: 50px;
    padding: 10px;
    background: linear-gradient(to top, #9362af5e, transparent);
    border-bottom: 2px solid #ffffff50;
}

.social-links:nth-child(1) {
    position: relative;

    overflow: hidden;

}

.social-links:nth-child(1):hover {
    background: transparent;
}

.social-links:nth-child(1)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: -1;
    transition: .3s ease all;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.social-links:nth-child(1):hover::before {
    opacity: 1;
}

.social-links:nth-child(3):hover {
    background: #b91d1d;
}

.social-links:nth-child(5):hover,
.social-links:nth-child(4):hover {
    background: #3167D3;
    color: #fff;
}

.button-container {
    position: relative;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 50px;
    padding: 15px;
}

.button-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    transition: .3s ease all;
    background: #0072B150;
    font-size: 18px;

    padding: 15px;
    margin: 20px 0;
    text-align: center !important;
    width: 150px;
}

.button-container a:hover {
    transform: scale(1.05);
}

.button-containser {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin-top: 30px;
    font-weight: 800;
    font-size: 36px;
}

.text-container span {
    color: #d6249f;
}

.button-container a i {
    position: absolute;
    opacity: 0;
    right: 50%;
    transition: .3s ease all;
}

.button-container:hover.button-container a i {
    opacity: 1;
    right: 20px;
}

#light {
    position: absolute;
    width: 500px;
    height: 500px;
    box-shadow: inset 0 0 150px 150px #000;
    background: #fff;
    z-index: 10;
}

.light-off {
    box-shadow: inset 0 0 150px 250px #000 !important;
}


h3 {
    font-size: 32px;
    font-weight: 100;
    color: #fff;
    display: inline-block;
    text-align: left;
    margin: 30px 0;
}

.container-sad {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    font-size: 16px;
    color: #000000;
    background: rgba(240, 231, 245, 0.473);
    border: 2px solid #00000020;
    margin: 50px 0;
    text-align: left;
    padding: 20px;
}

.bar {
    height: 0.3em;
    width: 30em;

    background: transparent;
    box-shadow: inset 0px 0px 8px #323232;
    overflow: hidden;
    padding: 5px;
}

.kal {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.kal h3{
    color: #000000;
}

.progress {
    height: inherit;

    width: 0;
    background: #d6249f;
    animation: load 3s linear infinite;
    animation-delay: 2s;
}

@keyframes load {
    0% {
        width: 0%;
    }

    50% {
        width: 100%;
    }

    100% {
        width: 0%;
        float: right;
    }
}

.textasd {
    width: 100%;
    height: 500px;
    background: red;
    z-index: 9999;
}

.kal {
    width: 100%;
}

.kal iframe {
    width: 100% !important;
    height: 500px;
    margin: 15px 0;

    border: 2px solid #ffffff50;
}

#alt-div {
    background: #1a1a1a;
    /* Dark grey background */
    color: #fff;
    /* White text color */
    padding: 20px;
    margin: 20px 0;

    text-align: center;
    /* Center align text */
}

@media only screen and (max-width: 600px) {
    .logo-section {
        width: 100%;
    }

    .logo-section img {
        width: 150px;
    }

    .button-containser {
        flex-direction: column;
    }

    .button-container,
    .button-container a {
        width: 100%;
    }

    .text-container {
        font-size: 24px;
    }

    .social-links {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 22px;
    }

    .timeline ul li div {

        max-width: 300px;

    }

    .title-font {
        font-size: 18px;
    }

    .page-flex {
        flex-direction: column;
    }

    .bar {
        height: 0.3em;
        width: 100%;

        background: transparent;
        box-shadow: inset 0px 0px 8px #323232;
        overflow: hidden;
        padding: 5px;
    }
}

@media only screen and (max-width: 1200px) {
    .slider {
        width: 100%;
    }

    .lang-theme-op {
        padding: 0;
        margin: 0;
        border: none;

    }

    .page-box {
        width: 100%;
    }

    .page-box:hover {
        transform: scale(1);
    }

}

@media only screen and (max-width: 500px) {
    .timeline ul li div {

        max-width: 200px;

    }

}

.quick-form form {
    width: 50%;
}

.quick-form .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    opacity: 1;
    width: 100%;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.quick-form .form-input {
    padding: 10px;
    flex: 1;
    box-sizing: border-box;
    color: #f8b0e1 !important;
    border: 2px solid #302032;
    background: #510b5330;
    /* Adding right margin to space out from the button */
}

.quick-form .form-input::placeholder {
    color: #f8b0e180;
}

.quick-form .social-media-containers {
    display: flex;
    flex-direction: column;
}

.quick-form .form-input:focus {
    border-color: #f8b0e1;
    outline-color: transparent;
}

.quick-form button {
    padding: 10px 15px;
    box-sizing: border-box;
    display: inline-block;
    background: #500b5381;
    border-right: 2px solid #302032;
    border-bottom: 2px solid #302032;
    border-top: 2px solid #302032;
    /* Ensure button is visible */
    outline: none;
    cursor: pointer;
}

.form-group.hidden {
    opacity: 0;
    transform: translateY(-20px);
}

.submit-message {
    display: none;
    color: green;
    margin-top: 10px;
}

.quick-form textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
    margin-bottom: 15px;
}

.quick-form {
    width: 100%;
    gap: 50px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin: 50px 0;
}

.submit-button {
    width: 100%;
    transition: .3s ease all;
}

.submit-button:hover {
    box-shadow: 0 0 15px #ffffff30;
}

.kals {
    display: flex;
    gap: 10px;
}

.kals {
    display: flex;
    margin: 40px 0;
    gap: 20px;
}

.img-container {
    position: relative;
    border: 2px solid #ffffff50;
    width: 33% !important;
    transition: .3s ease all;
}

.img-container-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000050;
    color: #fff;
}

.px-5 .lang-button{
    background: #282330 !important;
}
.img-container:hover {
    color: #d6249f;
    border: 2px solid #ffffff20;
    box-shadow: 0 0 15px #ffffff10;
}

.slo-container {
    position: sticky;
    top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 38px;
    color: #000 !important;
    border: 2px solid #00000020;
    background: #F4EEF7;
    width: 50%;
    height: 200px;
}
.px-5 h1{
    color: #000 !important;
}
#my-form input, #my-form textarea, .p-2 input, .p-2 textarea{
    border-color: #00000021;
    background: #F4EEF7 !important;
    color: #f56dca !important;
}
#my-form input::placeholder, #my-form textarea::placeholder{
    color: #f56dca;
}
#my-form button{
    border-color: #00000021;
}
#my-form .submit-button{
    background: #f56dca !important;
    color: #fff !important;
}
.bg-gray-900 {
    background: #f5f5f5 !important;
}
.WatchOnInstagramContainer {
    display: none !important;
}

/* @media screen and (min-width:900px) {
    .overlay{
        display: none !important;
    }
}
@media screen and (max-width:900px) {
    .lang-theme-op {
        position: fixed;
        top: 0;
        left: -150%;
        background: #050505;
        align-items: start;
        justify-content: start;
        height: 100vh;
        width: 300px;
        flex-direction: column;
        z-index: 9999;
    }
    .logo-section-nav img{
        width: 150px !important;
        max-width: 150px;
    }
    .nav-button{
        width: 100% !important;
        gap: 20px;
        background: #000;
        align-items: start !important;
        justify-content: start !important;
        flex-direction: column !important;
    }
    .lang-theme{
        gap: 20px;
        margin-top: 20px;
        width: 100% !important;
        align-items: start !important;
        justify-content: start !important;
        text-align: left !important;
        flex-direction: column !important;
        background: #000;
    }
   
    .overlay{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        background: #00000090;
        width: 100vw;
        height: 100vh;
        z-index: 999;
    }
} */
.creator-list {
    position: relative;
}

.blocked {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff50;
    backdrop-filter: blur(6px);
    z-index: 99;
    cursor: pointer;
    transition: .3s ease all;
}

.blocked i {
    margin-right: 5px;
}

.blocked:hover {
    backdrop-filter: blur(12px);
}